.projects {
  padding: 2rem;
  overflow-y: auto;

  &-card {
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      .button:first-of-type {
        margin-right: 1rem !important;
      }
    }
  }
}