.contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: center;
  margin: auto;
  padding: 2rem;
  width: 100%;

  h1 {
    color: rgb(0,254,255);
    margin-bottom: 2rem;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 3rem;

    &-label {
      color: rgb(0,254,255);
    }

    &-icon {
      margin-right: 1rem !important;
    }

    &-icon, &-divider {
      color: gray !important;
    }

    &-link {
      a {
        color: white;
      }
    }

    div {
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}