.contact {
  text-align: center;
  margin: auto;

  h1 {
    color: rgb(0,254,255);
    margin-bottom: 2rem;
  }

  &-row {
    display: flex;
    justify-content: center;
    height: 3rem;

    &-label {
      color: rgb(0,254,255);
    }

    &-icon {
      margin-right: 1rem !important;
    }

    &-icon, &-divider {
      color: gray !important;
    }

    &-link {
      a {
        color: white;
      }
    }

    div {
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}